[Unit]
Description=BinaryOS Config
After=graphical-session.target
PartOf=hyprland-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/binaryos-config

[Install]
WantedBy=hyprland-session.target
